<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->

<!--<suite name="Cucumber Parallel Suite" verbose="2" parallel="classes" thread-count="3">-->

<!--    <test name="Cucumber Tests for Login">-->

<!--        <classes>-->
<!--            <class name="runner.TestRunner"/>-->
<!--        </classes>-->

<!--    </test>-->

<!--</suite>-->